@using DonateMe.Web.Models
@model IEnumerable<ItemNodeModel>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               <b>W</b>elcome
            </p>
        </div>
    </section>
}

@if (Model.Any())
{
    <ul>
        @foreach (var m in Model)
        {
            <li>@Html.ActionLink(m.Name, "GetChildren", new {id = m.Id})</li>
            @DisplayChildren(m.Children)
        }
    </ul>
}

@helper DisplayChildren(IEnumerable<ItemNodeModel> children)
{
    IEnumerable<ItemNodeModel> itemNodeModels = children as IList<ItemNodeModel> ?? children.ToList();
    if (itemNodeModels.Any())
    {
        <ul>
            @foreach (var c in itemNodeModels)
            {
                <li>@Html.ActionLink(c.Name, "GetChildren", new {id = c.Id})</li>
                @DisplayChildren(c.Children)
            }
        </ul>
    }
}